@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

body{
    text-align: center;
    width: 100%;
}
.fixed-footer{
    width: 100%;   
    margin-bottom: -10%;
    
  }
.fixed-footer{
    bottom: -10%;
  }

