/* Navigation Bar Styling */

*, .container-fluid{
    margin: 0;
    padding: 0;
}

#navId {
    background-color: rgba(254, 255, 191, 1) !important;
    padding: 0.5rem;
}

#logo img {
    width: 15rem;
    height: auto;
    border-radius: 4px;
    background-blend-mode: multiply;
}

.nav-item {
    margin: 0 0.6rem;
    font-weight: bold;
    border-bottom: 2px solid transparent;
}

.nav-item a {
    color: black;
}

.nav-item:hover {
    border-bottom: 2px solid black;
}